<% provide :title, "#{@story.title} - #{get_chapter(@story, @story_snippet)}" %>
<% provide :override, true %>
<h1 class="title"><%= @story.title %></h1>
<div class="row">
  <div class="span10 offset1">
    <div class="description">
      <div class="row-fluid">
        <h5>
          <%=  gravatar_for @story_snippet.user, size: 52 %>
          <%=  link_to @story_snippet.user.name, @story_snippet.user %>
        </h5>
      </div>
      <div class="row-fluid story-content">
        <h4><%= @story_snippet.content %></h4>
      </div>
    </div>
  </div>
</div>
<%= render 'story_navigation' %>